<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/search.css' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/profile.css' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/bell.css' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/readme.css' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/read.css' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/home-alt.css' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/insights.css' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/danger.css' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/ghost.css' rel='stylesheet'>
</head>
<body style="background-color: #efefee;">
    <div class="nevbar" style="background-color: #ed4d5d;">
        <h1>Brand</h1>
        <div  class="nev1"><a href="{% url 'dashboard' %}"><h2>Dashboard</h2></a></div>
        <div class="nev1"><a href="{% url 'student' %}"><h2>Students</h2></a></div>
        <div class="nev1"><a href="{% url 'teacher' %}"><h2>Teachers</h2></a></dv>
        <div class="nev"><a href="{% url 'school' %}"><h2>School</h2></a></div>                
        <div class="nev"><a href="{% url 'income' %}"><h2 style="background: white; color: #ed4d5d;">Income</h2></a></div>
        <div class="nev"><a href="{% url 'help' %}"><h2>Help</h2></a></div>
        <div class="nev"><a href="{% url 'setting' %}"><h2>Setting</h2></a></div>
    </div>
    <div class="top">
        <div class="top-search">
            <input class="search" type="text" placeholder="search">
            <button type="submit" class="botton"><i class="gg-search"></i></button>
        </div>
        <i class="gg-profile"></i><i class="gg-bell"></i>
    </div>
    <h1 style="position: absolute; top: -20px; left: 300px; color: #ed4d5d; width: 200px">Weekly Income List</h1>
    <form action="{% url 'weeklyincometable' %}">
        <input type="submit" value="Add New" style="background: #ed4d5d;color: white;position: absolute; top: 25px;left: 1010px; width: 90px; height: 30px;text-align: center; font-size: 90%">
    </form>
    <form action="{% url 'monthlyincome' %}">
        <input type="submit" value="Monthly" style="background: #ed4d5d;color: white;position: absolute; top: 85px;left: 315px; width: 120px; height: 30px;text-align: center; font-size: 130%">
    </form>
    <form action="{% url 'yearlyincome' %}">
        <input type="submit" value="Yearly" style="background: #ed4d5d;color: white;position: absolute; top: 85px;left: 430px; width: 120px; height: 30px;text-align: center; font-size: 130%">
    </form>
    <table class="table" style="width:1000px; background: #ed4d5d;position: absolute; top: 120px; left:315px">
        <thead>
          <tr>
            <th style="background: #ed4d5d;color: white;border: 2px solid white;" scope="col">ID</th>
            <th style="background: #ed4d5d;color: white;border: 2px solid white;" scope="col">Class</th>
            <th style="background: #ed4d5d;color: white;border: 2px solid white;" scope="col">Admission Fees</th>
            <th style="background: #ed4d5d;color: white;border: 2px solid white;" scope="col">Weekly Fees</th>
            <th style="background: #ed4d5d;color: white;border: 2px solid white;" scope="col">Computer Fees</th>
            <th style="background: #ed4d5d;color: white;border: 2px solid white;" scope="col">Exam Fees</th>
            <th style="background: #ed4d5d;color: white;border: 2px solid white;" scope="col">Scholarship Awarded To</th>
          </tr>
        </thead>
        <form style="position: absolute; top:300px; left: 800px" action="{% url 'weekly_income_retrieve'%}">
            {% csrf_token %}
            {% for i in weekly %}
                <tbody>
                    <tr>
                        <td style="background: #ed4d5d;color: white;border: 2px solid white;">{{ i.id }}</td>
                        <td style="background: #ed4d5d;color: white;border: 2px solid white;">{{ i.classroom }}</td>
                        <td style="background: #ed4d5d;color: white;border: 2px solid white;">{{ i.admissionfees }}</td>
                        <td style="background: #ed4d5d;color: white;border: 2px solid white;">{{ i.weeklyfess }}</td>
                        <td style="background: #ed4d5d;color: white;border: 2px solid white;">{{ i.computerfees }}</td>
                        <td style="background: #ed4d5d;color: white;border: 2px solid white;">{{ i.examfees }}</td>
                        <td style="background: #ed4d5d;color: white;border: 2px solid white;">{{ i.scholarshipawardedto }}</td>
                    </tr>
                </tbody>
            {% endfor %}
        </form>
    </table>
    <div class="icons">
        <i class="gg-readme" style="color: white;"></i><br><br><br><br>
        <i class="gg-read" style="color: white;"></i><br><br><br>
        <i class="gg-home-alt" style="color: white;"></i><br><br>
        <i class="gg-insights" style="color: #ed4d5d;"></i><br><br><br>
        <i class="gg-danger" style="color: white;"></i><br><br><br>
        <i class="gg-ghost" style="color: white;"></i>
    </div>
</body>
</html>